footer.footer {
  border-top: 1px $gray-light solid;
  text-align: center;
  background: #f4f7fc;
  margin-top: 45px;

  @include breakpoint-min(tablet) {
    text-align: left;
  }

  .region {
    padding-top: 20px;
    padding-bottom: 19px;
  }

  .footer_top_wrapper {
    padding: 30px 0; 
  }

  .col-sm-3 {

    h2 {
      font-size: 18px;
      line-height: 1.2;
      font-weight: 700;
      color: #000;
      margin: 0 0 5px 0;
    }
  
    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
      li {
        line-height: 1;
        padding: 5px 0;
  
        a {
          padding: 0;
          line-height: 1.4;
          font-size: 16px;
  
          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    &.footer__first {
      font-size: 14px;
      line-height: 2.2;
      color: rgb(51, 51, 51);
  
      @include breakpoint-min(tablet) {
        width: 40%;
        border-right: solid 4px #ffe902;
      }
    }

    @include breakpoint-min(tablet) {
      width: 20%;
    }
  }

  .footer_bottom_wrapper {
    background-color: #dbe5f2;

    .footer__bottom {

      .block-title {
        display: none;
      }

      ul {
        text-align: center;

        @include breakpoint-min(desktop) {
          text-align: left;
        }
        
        li {
          display: block;

          @include breakpoint-min(tablet) {
            display: inline-block;
          }

          a {
            font-size: 16px;
            padding: 0;
            margin-top: 10px;

            @include breakpoint-min(desktop) {
              line-height: 1.5;
              margin-top: 0;
              margin-right: 15px;
            }

            @include breakpoint-min(lg-desktop) {
              line-height: 1.4;
              font-size: 18px;
              margin-right: 30px;
            }

            &:hover {
              background-color: transparent;
            }
          }
          
          &.first {
            display: block;

            @include breakpoint-min(desktop) {
              display: inline-block;
            }

            a {
              display: inline-block;
              font-weight: bold;
              background: url(../images/Flag_of_Europe.svg) no-repeat;
              background-position: center top;
              background-size: auto 45px;
              padding: 50px 0 0 0;

              @include breakpoint-min(desktop) {
                border-right: solid 1px #366396;
                background-position: left center;
                background-size: 71px auto;
                height: 45px;
                padding: 10px 18px 10px 80px;
              }
            }
          }

          &.last {
            a {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
