.logo {
  display: block;
  width: $logo-width-mobile;
  margin: 0;
  position: relative;
  z-index: 999;
  float:left;

  img{
    width:100%;
    height:auto;
  }

  @include breakpoint-min(tablet) {
    width: $logo-width-tablet;
    margin: 5px 0 10px 0;
  }

  @include breakpoint-min(desktop) {
    width: $logo-width-desktop;
  }
}
  